<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ asset('css/posts.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Review</title>
</head>

<body>
<header>
    <i class='bx bxs-planet' style="color: white; font-size: 25px; margin-right: 5px;"></i>
    <a class="logo">MyMap.com</a>
    <nav>
        <a href="{{ path('map') }}" class="active">Map</a>
        <a href="{{ path('home_page') }}">Sign out</a>
    </nav>
</header>

<h2>My Journey</h2>
<div class="note-wrapper">
    <div class="operations">
        <form action="{{ path('add_notes') }}" method="post" id="addForm">
            <input type="hidden" name="noteText" id="noteTextInput">
            <label class="addNote">
                <button type="button" id="addNote" onclick="saveNote()">
                    <i class='bx bx-check' style="font-weight: bold; font-size: 29px;"></i>
                </button>
            </label>
        </form>

        <div class="main">
            <label for="noteText">
                <textarea name="noteText" id="noteText" placeholder="Write something..."></textarea>
            </label>
        </div>
    </div>
</div>

<div id="noteActions" data-delete-url="{{ path('delete_notes') }}" data-add-url="{{ path('add_notes') }}"></div>

<div id="notesContainer"></div>

<script type="text/javascript">
    let notesTaken = {{ notesTaken|default([])|json_encode|raw }};
    document.addEventListener('DOMContentLoaded', (event) => {
        notesTaken.forEach(function(note) {
            addNoteWithCameraIcon(note);
        });
    });
</script>

<script src="{{ asset('js/posts.js') }}"></script>
</body>
</html>
