{% extends 'sideBar.html.twig'  %}

{% block title %} Complaints {% endblock %}

{% block body %}

    {{ parent() }}

    <div class="main_table">
        <main class="table" id="customers_table">
            <section class="table__header" style="background-color: #52B69A ;">
                <h1 style="color: hsla(0, 100%, 99.8%, 0.84) ;">Standard Members</h1>
                <div class="input-group">
                    <input type="search" placeholder="Search Data...">
                </div>
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Export As &nbsp; &#10140;</label>
                        <label for="export-file" id="toPDF">PDF </label>
                    </div>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead >
                    <tr>
                        <th> Id </th>
                        <th> Username <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Birth Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.date }}</td>
                            <td>
                                <a href="{{ path('users', {'id': user.id}) }}" class="del-btn">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    </section>
{% endblock %}